.Main {
    color: rgb(30, 30, 30);
    background-color: aliceblue;
    width: 50%;
    margin: 100px auto;
    border-radius: 10px;
    height: 500px;
    padding: 30px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}